$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald" sans-serif;

@include font-face("Lato", 400, normal, url("../../fonts/lato/Lato-Regular.woff2") format("woff2"));
@include font-face("Oswald", 400, normal, url("../../fonts/oswald/oswaldregular.woff2") format("woff2"));

@font-face {
  font-family: "Lato";
  src:
    url("../../fonts/lato/Lato-Regular.woff") format("woff"),
    url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src:
    url("../../fonts/oswald/oswaldregular.woff") format("woff"),
    url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

/* @font-face {
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-sans-narrow.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
}
 */
