@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin flex($direction: row, $justify: space-between, $align: center, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($font, $weight, $size, $line) {
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

@mixin pseudo($width, $height) {
  content: "";
  display: block;
  width: $width;
  height: $height;
}
