@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: "$font-family";
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    /*     src:
      url("../../fonts/lato/Lato-Regular.woff") format("woff"),
      url("../../fonts/lato/Lato-Regular.woff2") format("woff2"); */
    font-display: swap;
  }
}

@mixin flex($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($font, $weight, $size, $line) {
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

@mixin pseudo($width, $height) {
  content: "";
  display: block;
  width: $width;
  height: $height;
}

