/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/instructions.scss";
@import "./blocks/experience.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/subscription.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/buttons.scss";
@import "./blocks/mixins.scss";

.page__body {
  max-width: 320px;
  background-color: #ffffff;
}

/* @media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
} */
