/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/list-reset.scss";
@import "./blocks/button.scss";
/* BLOCKS INDEX */
@import "./blocks/page.scss";
@import "./blocks/page-header.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/main-container.scss";
@import "./blocks/programs.scss";
@import "./blocks/program.scss";
@import "./blocks/instructions.scss";
@import "./blocks/step.scss";
@import "./blocks/experience.scss";
@import "./blocks/costs.scss";
@import "./blocks/slider.scss";
@import "./blocks/map.scss";
@import "./blocks/address.scss";
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
/* BLOCKS CATALOG */
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/product.scss";
@import "./blocks/promo.scss";
@import "./blocks/subscription.scss";
/* additionally */
@import "./blocks/transfer.scss";
