.additional-products__headline {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additional-products__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products__title:hover {
  opacity: 0.6;
}

.additional-products__title:focus {
  opacity: 0.4;
}

.additional-products__title:active {
  opacity: 0.3;
}

.product__volume,
.product__price {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.additional-products__list {
  padding: 0;
  list-style-type: none;
}

.additional-products__card-link {
  text-decoration: none;
}

.product {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  grid-auto-rows: max-content;
  border-top: 1px solid #ebebeb;
}

.promo__description {
  color: #000000; /* временно черный для видимости */
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* text-align: center; */
}

.promo::before {
  content: "";
  display: flex;
  width: 280px;
  height: 290px;
  background-image: url("..source/images/catalog/cat-in-backpack-mobile@1x.png");
  background-repeat: no-repeat;
}
