.additional-products {
  @include flex(column, center, center, wrap);

  @media (min-width: $tablet-width) {
    @include flex(row, center, center, wrap);
    gap: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
    gap: 0;
  }
}

.additional-products__headline {
  @include font($secondary-font, 400, 24px, 24px);
  position: relative;
  margin: 0 auto;
  padding: 0 50px 19px 0;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 32px, 32px);
    width: 708px;
    align-self: flex-start;
    margin: 0 auto;
    padding: 0 0 0 40px;
  }

  @media (min-width: $desktop-width) {
    @include font($secondary-font, 400, 40px, 40px);
    width: 1220px;
    padding: 0 0 70px;
  }
}

.additional-products__headline::after {
  @media (min-width: $tablet-width) {
    @include pseudo(100vw, 2px);
    position: absolute;
    top: 13px;
    left: 0;
    border: 1px solid $accent-color;
    transform: translateX(-100%);
  }

  @media (min-width: $desktop-width) {
    @include pseudo(100vw, 2px);
    position: absolute;
    top: 19px;
    left: -40px;
    border: 1px solid $accent-color;
  }
}

.additional-products__headline::before {
  @include pseudo(100vw, 2px);
  position: absolute;
  top: 9px;
  left: 264px;
  border: 1px solid $accent-color;

  @media (min-width: $tablet-width) {
    @include pseudo(100vw, 2px);
    position: absolute;
    top: 13px;
    left: 380px;
    border: 1px solid $accent-color;
  }

  @media (min-width: $desktop-width) {
    @include pseudo(100vw, 2px);
    position: absolute;
    top: 19px;
    left: 415px;
    border: 1px solid $accent-color;
  }
}

.additional-products__list {
  @include flex(column, center);
  width: 280px;
  margin: 16px 0 40px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    min-height: 288px;
    display: flex;
    margin-right: 81px;
  }
}

.additional-products__item {
  display: grid;
}

.additional-products__card-link {
  text-decoration: none;
}

.additional-products__title {
  @include font($secondary-font, 400, 16px, 16px);
  margin: 16px 0 10px;
  color: $basic-text-color-two;
  text-transform: uppercase;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 20px, 20px);
    margin: 0;
    padding: 0;
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    @include font($secondary-font, 400, 20px, 20px);
    margin: 0;
    padding: 0;
    grid-column: 1 / 2;
  }
}
