//блок с адресом

.address {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #444444;
}

.address__city,
.address__street {
  margin: 0;
  padding: 0;
}
