.button {
  grid-column: 1 / -1;
  min-width: 280px;
  min-height: 40px;
  margin: 15px 0 19px;
  padding: 10px 63.5px;
  color: $basic-white;
  background-color: $accent-color;

  @include font($secondary-font, 400, 16px, 20px);
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $hover-buttons;
  }

  &:focus {
    color: #d24899; //временно
    outline: none;
  }

  &:active {
    background-color: $hover-buttons;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--accent {
  margin: 0 0 24px;
  padding: 10px 63.5px;
  color: $basic-text-color;
  background-color: $basic-grey;
  text-transform: uppercase;

  &:hover {
    color: $basic-text-color;
    background-color: $border-color-catalog;
  }

  &:active {
    opacity: 0.7;
  }
}
