.button {
  @include font($secondary-font, 400, 16px, 20px);

  min-width: 169px;
  min-height: 40px;
  margin: 15px 0 19px;
  padding: 10px 63.5px;
  color: $basic-white;
  background-color: $accent-color;
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $hover-buttons;
  }

  &:focus {
    color: #d24899;
    outline: none;
  }

  &:active {
    background-color: $hover-buttons;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    height: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid: -2 / -1;
    width: 100%;
    height: 40px;
    margin: 0;
  }
}

.button--accent {
  margin: 0;
  padding: 10px 39px;
  color: $basic-text-color;
  background-color: $basic-grey;
  text-transform: uppercase;

  &:hover {
    color: $basic-text-color;
    background-color: $border-color-catalog;
  }

  &:active {
    opacity: 0.7;
  }

  @media (min-width: $mobile-width) {
    width: 280px;
    height: 40px;
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    text-decoration: none;
    width: 250px;
    min-height: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    min-height: 40px;
  }
}

.button--product {
  grid-column: 1 / -1;

  @media (min-width: $mobile-width) {
    width: 280px;
    height: 40px;
  }

  @media (min-width: $tablet-width) {
    width: 632px;
    min-height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    min-height: 40px;
    grid-column: -2 / -1;
  }
}
