.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-auto-rows: max-content;
  width: 280px;
  min-height: 209px;
  justify-content: center;

  @media (min-width: $mobile-width) {
    border-bottom: 1px solid $border-color-catalog;

    &:first-child {
      border-top: 1px solid $border-color-catalog;
    }

    &:nth-child(1) .card__link-image {
      margin: 2px 0 0;
    }

    &:nth-child(2) .card__link-image {
      margin: -4px 0 0 -6px;
    }

    &:nth-child(3) .card__link-image {
      margin: 7px 0 0;
    }

    &:nth-child(4) .card__link-image {
      margin: -4px 0 0 -6px;
    }

    &:nth-child(5) .card__link-image {
      margin: 7px 0 0;
    }

    &:nth-child(6) .card__link-image {
      margin: -4px 0 0 -6px;
    }

    &:nth-child(7) .card__link-image {
      margin: 4px -1px 0;
    }

    &:nth-child(2) .card__image {
      top: -11px;
    }

    &:nth-child(5) .card__image {
      top: -7px;
    }

    &:nth-child(7) .card__image {
      top: -6px;
    }
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      border: none;
    }

    &:nth-child(1) .card__link-image {
      margin: 0 0 37px;
    }

    &:nth-child(2) .card__link-image {
      margin: -6px 0 9px;
    }

    &:nth-child(3) .card__link-image {
      margin: 0 0 35px;
    }

    &:nth-child(4) .card__link-image {
      margin: -14px 0 22px;
    }

    &:nth-child(5) .card__link-image {
      margin-bottom: 31px;
    }

    &:nth-child(6) .card__link-image {
      margin: -14px 0 22px;
    }

    &:nth-child(7) .card__link-image {
      margin-bottom: 31px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      border: none;
    }

    &:nth-child(1) .card__link-image {
      margin: 0 0 28px;
    }

    &:nth-child(2) .card__link-image {
      margin: 0 0 4px;
    }

    &:nth-child(3) .card__link-image {
      margin: 0 0 28px;
    }

    &:nth-child(4) .card__link-image {
      margin: -11px 0 16px;
    }

    &:nth-child(5) .card__link-image {
      margin: 0 0 33px;
    }

    &:nth-child(6) .card__link-image {
      margin: 0 0 7px;
    }

    &:nth-child(7) .card__link-image {
      margin: 0 0 31px;
    }

    &:nth-child(5) .card__image {
      top: 7px;
    }

    &:nth-child(6) .card__image {
      top: -6px;
    }

    &:nth-child(7) .card__image {
      top: 7px;
    }
  }

  @media (min-width: $tablet-width) {
    @include flex(column, start, center, nowrap);
    width: 324px;
    min-height: 511px;
    align-content: center;
    padding: 29px;
    background: linear-gradient($basic-white 16%, $basic-grey 16%);
  }

  @media (min-width: $desktop-width) {
    @include flex(column, start, center, nowrap);
    width: 245px;
    min-height: 489px;
    align-content: center;
    padding: 6px 38px 40px;
    background: linear-gradient(transparent 12%, $basic-grey 12%);
  }
}

.card__list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    @include flex(column, space-between, normal, wrap);
    width: 250px;
    margin-bottom: 34px;
    gap: 8px;
  }

  @media (min-width: $desktop-width) {
    @include flex(column, space-between, normal, wrap);
    width: 169px;
    margin-bottom: 32px;
  }
}

.card__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 4px;

    &:last-child {
      padding-bottom: 8px;
    }
  }
}

.card__title {
  @include font($secondary-font, 400, 16px, 20px);
  width: 76px;
  margin: 0;
  padding: 23px 0 11px;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    color: #d24899;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 20px, 24px);
    width: 135px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.card__title-current {
  width: 204px;
  margin-bottom: 7px;
  padding: 59px 0 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 134px;
    padding: 0;
    margin: 122px 0 22px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    padding: 110px 0 0;
    margin: 0;
  }
}

.card__content-current {
  margin: 0;
  padding: 0 0 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 0;
  }
}

.card__measure {
  @include font($main-font, 400, 12px, 16px);
  padding: 0;

  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 16px, 20px);
    padding: 0;
  }
}

.card__value {
  @include font($main-font, 400, 12px, 16px);

  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 16px, 20px);
  }
}

.card__content {
  @include font($main-font, 400, 12px, 16px);

  @media (min-width: $tablet-width) {
    width: 170px;
    min-height: 36px;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 16px, 18px);
    margin-bottom: 83px;
    color: $basic-text-color;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 0 65px;
  }
}

.card__link-image {
  grid-area: 1 / 1 / 3 / 2;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;

    &:nth-child(2) .card__link-image {
      margin: 0;
    }
  }
}

.card__link-title {
  text-decoration: none;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    padding: 0 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
    padding: 0 25px;
  }
}

.card__image {
  margin: 29px 0 0 35px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.card--add {
  @include flex(column, center, center, wrap);
  position: relative;
  width: 280px;
  min-height: 208px;
  border-bottom: 1px solid $border-color-catalog;

  @media (min-width: $tablet-width) {
    @include flex(column, start, center, wrap);
    background: transparent;
    width: 324px;
    align-content: center;
    border: 2px solid $basic-grey;
    padding: 37px;
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    @include flex(column, space-between, center, wrap);
    width: 245px;
    min-height: 431px;
    align-content: center;
    background: transparent;
    padding: 41px 38px 40px;
    margin-top: 61px;
  }
}

.card--add::before {
  @media (min-width: $mobile-width) {
    @include pseudo(30px, 30px);
    position: absolute;
    top: 27px;
    right: 125px;
    background-image: url("../../icons/plus-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-width: $tablet-width) {
    @include pseudo(60px, 60px);
    position: absolute;
    top: 48px;
    left: 130px;
    background-image: url("../../icons/plus-tablet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    @include pseudo(60px, 60px);
    position: absolute;
    top: 50px;
    left: 90px;
    background-image: url("../../icons/plus-tablet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.card__link--button {
  @include font($secondary-font, 400, 16px, 20px);
  width: 169px;
  min-height: 40px;
  padding: 10px 54px 10px 53px;
  color: $basic-white;
  background-color: $accent-color;
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $mobile-width) {
    width: 280px;
    min-height: 40px;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    min-height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    min-height: 40px;
  }
}
