.catalog {
  @include flex(column, normal, center, wrap);
  width: 308px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 69px;
  }
}

.catalog__title {
  @include font($secondary-font, 400, 36px, 36px);
  margin: 0 0 40px;
  padding: 27px 31px 0 5px;
  color: $basic-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 60px, 60px);
    align-self: flex-start;
    margin-bottom: 84px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    @include font($secondary-font, 400, 60px, 60px);
    margin-bottom: 106px;
    padding: 0;
  }
}

.catalog__list {
  width: 280px;
  margin: 0 0 27px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 0;
  }
}

.catalog__item {
  display: block;
}
