// слайдер с котом
.demo__image {
  @media (min-width: $mobile-width) {
    display: flex;
    //justify-content: center;
    //margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: -301px 0 0 660px;
  }
}

//.demo
//.demo__img {}
//.demo__img--before{}
//.demo__img--after {}
//.demo__button {}
