.demo__image {
  @media (min-width: $mobile-width) {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 16px auto 80px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: -301px 0 0 660px;
  }
}


//.demo__img--before{}
//.demo__img--after {}
//.demo__img {}

.demo {
  position: relative;

  @media (min-width: $desktop-width) {
    align-self: center;
    margin-bottom: 20px;
  }
}

.demo__button {
  width: 4px;
  height: inherit;
  padding: 0;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 138px;
  z-index: 1;
  cursor: pointer;

  @media (min-width: 768px) {
    left: 278px;
  }
}

