//блок живой пример

.experience {
  @media (min-width: $tablet-width) {
    padding: 45px 30px 0;
    background-color: #ffffff;
  }

  min-height: 659px;
  padding: 20px;
  background-color: $live-example-color;
}

.experience__title {
  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 60px, 60px);
    padding: 0 0 60px;
  }

  @include font($secondary-font, 400, 36px, 40px);
  margin: 0;
  padding: 0 0 40px;
  color: $basic-black;
}

//.experience__content {}
//.experience__demo {}

.experience__description {
  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 16px, 24px);
    margin: 0 0 40px;
  }

  @include font($main-font, 400, 14px, 18px);
  margin: 0 0 20px;
  color: $basic-text-color;
  text-align: left;
}

.experience__list {
  display: flex;
  margin: 0 -21px 31px;
  padding: 0;
  list-style-type: none;
}

.experience__item {
  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
  }
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.experience__item:not(:last-child) {
  margin: 0 32px 0 22px;
}

.experience__caption-primary {
  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 30px, 37px);
  }

  @include font($secondary-font, 400, 24px, 24px);
  margin: 0;
  padding: 14px 0 7.5px;
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;
}

.experience__caption-secondary {
  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 14px, 14px);
    margin: 0 0 0 40px;
    background-color: #ffffff;
  }

  @include font($main-font, 400, 12px, 12px);
  width: 77px;
  height: 24px;
  margin: 0 0 0 20px;
  padding: 0;
  color: $basic-text-color;
  background-color: $live-example-color;
  text-align: center;
  text-transform: lowercase;
}

.experience__footer {
  margin: 0 0 18px;
  text-align: center;
}
