//блок живой пример

.experience {
  min-height: 659px;
  padding: 20px;
  background-color: $live-example-color;
}

.experience__title {
  margin: 0;
  padding: 5px 0 40px;
  color: $basic-black;

  @include font($secondary-font, 400, 36px, 40px);
}

//.experience__content {}
//.experience__demo {}

.experience__description {
  margin: 0 0 20px;
  color: $basic-text-color;

  @include font($main-font, 400, 14px, 18px);
  text-align: left;
}

.experience__list {
  display: flex;
  margin: 0 -21px 31px;
  padding: 0;
  list-style-type: none;
}

.experience__item {
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.experience__item:not(:last-child) {
  margin: 0 32px 0 22px;
}

.experience__caption-primary {
  margin: 0;
  padding: 14px 0 7.5px;
  color: $basic-black;

  @include font($secondary-font, 400, 24px, 24px);
  text-align: center;
  text-transform: uppercase;
}

.experience__caption-secondary {
  width: 77px;
  height: 24px;
  margin: 0 0 0 20px;
  padding: 0;
  color: $basic-text-color;
  background-color: $live-example-color;

  @include font($main-font, 400, 12px, 12px);
  text-align: center;
  text-transform: lowercase;
}

.experience__footer {
  margin: 0 0 18px;
  text-align: center;
}
