.footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 768px;
    height: 147px;
    padding: 55px 40px;
  }

  @include flex(column, space-between, normal, wrap);
  min-width: 320px;
  min-height: 240px;
  padding: 40px 20px;
  background-color: $basic-grey;
}

.footer__logo-text {
  @include flex(row, space-between, center, wrap);
  align-self: center;
  width: 128px;
  height: 24px;
}

//.footer__image {}

.footer__text {
  @include font($main-font, 400, 16px, 20px);
  padding: 6px 0 0;
  color: $basic-text-color;

  &:hover {
    color: $accent-color;
  }

  /* &:focus {
    color: $accent-color;
  } */

  &:active {
    color: $accent-color;
    opacity: 0.7;
  }
}

.footer__copyright {
  @include flex(row, space-between, center, wrap);
  text-decoration: none;
}

.footer__logo-copyright {
  padding: 0;
}
