.footer__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-width: 320px;
  min-height: 240px;
  padding: 40px 20px;
  background-color: $basic-grey;
}

.footer__logo-text {
  display: flex;
  align-self: center;
  width: 128px;
  height: 24px;
}

//.footer__image {}

.footer__text {
  padding: 6px 0 0;
  color: $basic-text-color;

  @include font($main-font, 400, 16px, 20px);

  &:hover {
    color: $accent-color;
  }

  /* &:focus {
    color: $accent-color;
  } */

  &:active {
    color: $accent-color;
    opacity: 0.7;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.footer__logo-copyright {
  padding: 0;
}
