.main-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.hero__title {
  margin: 27px 0 25px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.hero__description {
  margin: 0 0 29px;
  /* color: #ffffff; */
  color: #000000; /* временно черный для видимости */
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.hero__description-button {
  text-transform: uppercase;
}

/* .hero__image {
  display: block;
  width: 320px;
  height: 302px;
  background-image: url("../../images/index-background-mobile2@1x.png");
  background-repeat: no-repeat;
} */
