.hero {
  background: linear-gradient(to top, $basic-white 40%, $accent-color 35%, transparent), url("../../images/index-background-mobile2@1x.png"), no-repeat, 320px 302px;
  margin: -1px 0 0;

  @media (min-resolution: 2dppx) {
    width: 500px;
    height: 500px;
    background: url("../../images/index-background-mobile2@2x.png");
  }
}

.hero__title {
  margin: 27px 0;
  color: $basic-white;

  @include font($secondary-font, 400, 36px, 36px);
  text-align: center;
}

.hero__description {
  margin: 0 0 28px;
  padding: 0 3px 0 0;
  color: $basic-white;

  @include font($secondary-font, 400, 14px, 14px);
  text-transform: uppercase;
  text-align: center;
}

//.hero__image {}

.hero__description-button {
  min-width: 280px;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 10px 63.5px;

  @include font($secondary-font, 400, 16px, 20px);
  text-align: center;
  text-transform: uppercase;
  background-color: $accent-color;
  border: none;
  color: $basic-white;
  cursor: pointer;

  &:hover {
    background-color: $hover-buttons;
  }

  &:active {
    background-color: $hover-buttons;
    color: rgba(255, 255, 255, 0.3);
  }
}
