.hero {
  @media (min-width: $mobile-width) {
    //width: 320px;
    //height: 302px;
    background-image: url("../../images/index/index-cat-background-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 320px 302px;
    //margin: 0 0 200px;
  }

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    //width: 720px;
    //height: 694px;
    background-image: url("../../images/index/index-cat-background-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 100px;
    background-size: 50%;
    margin-bottom: 50px;
  }
}

.hero__wrapper {
  @include flex(column, center);
}

.hero__title {
  @include font($secondary-font, 400, 36px, 36px);
  margin: 27px 0;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 60px, 60px);
    margin: 0;
    padding: 65px 179px 40px 0;
    color: $basic-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    align-self: baseline;
    margin: 0;
    padding: 30px 0 0 190px;
  }
}

.hero__description {
  @include font($secondary-font, 400, 14px, 14px);
  margin: 0 0 28px;
  padding: 0 3px 0 0;
  color: $basic-white;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 20px, 20px);
    color: $basic-black;
    margin: 0;
    padding: 0 306px 21px 0;
  }

  @media (min-width: $desktop-width) {
    align-self: baseline;
    margin: 0;
    padding: 0 0 0 190px;
  }
}

//.hero__image {}

.hero__description-button {
  @include font($secondary-font, 400, 16px, 20px);
  min-width: 280px;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 10px 63.5px;
  text-align: center;
  text-transform: uppercase;
  background-color: $accent-color;
  border: none;
  color: $basic-white;
  cursor: pointer;

  &:hover {
    background-color: $hover-buttons;
  }

  &:active {
    background-color: $hover-buttons;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 385px;
    left: 90px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 385px;
    left: 425px;
    margin: 0;
  }
}
