.instructions {
  @include flex(column, normal, center, wrap);
  width: 320px;
  margin: 0 auto;

  @media (min-width: $mobile-width) {
    //
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto 128px;
  }
}

.instructions__list {
  counter-reset: number 0;

  @media (min-width: $mobile-width) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 49px;
    padding: 0 8px 0 0;
    list-style-type: none;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 0;
    padding: 20px 20px 60px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    padding: 0;
    border: none;
    gap: 83px;
  }
}

.instructions__item {
  display: flex;
  position: relative;

  &::after {
    @include font($secondary-font, 400, 280px, 40px);
    position: absolute;
    z-index: -1;
    top: 80;
    left: 130;
    color: $basic-grey;
  }

  @media (min-width: $mobile-width) {
    //
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.instructions__item:not(:last-child) {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.instructions__title {
  /*   @media (min-height: $mobile-width) {

  } */


  @include font($secondary-font, 400, 36px, 40px);
  align-self: flex-start;
  margin: 0 0 40px;
  padding: 0 0 0 20px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 400, 60px, 60px);
    //padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;
    padding: 0;
  }
}

.instructions__description-step-content {
  color: $basic-text-color;

  @media (min-width: $mobile-width) {
    @include font($main-font, 400, 14px, 18px);
    margin: 0;
    //padding: 2px 0 0;
  }

  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 16px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font($main-font, 400, 16px, 24px);
    padding: 0;
  }
}

