.instructions {
  @include flex(column, normal, center, wrap);
}

.instructions__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 0 49px;
  padding: 0 8px 0 0;
  list-style-type: none;
  counter-reset: number 0;

  @media (min-width: $tablet-width) { // не работает!
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 153px;
    margin: 0;
    padding: 0 110px 104px 0;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.instructions__item {
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;

    &::after {
      content: counter(number);
      counter-increment: number;

      @include font($secondary-font, 400, 280px, 40px);
      position: absolute;
      z-index: -1;
      top: 80;
      left: 130;
      color: $basic-grey;
    }
  }
}

.instructions__item:not(:last-child) {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.instructions__title {
  @include font($secondary-font, 400, 36px, 40px);
  align-self: flex-start;
  margin: 0 0 40px;
  padding: 0 0 0 20px;
  color: $basic-black;

  @media (min-width: 768px) {
    @include font($secondary-font, 400, 60px, 60px);
    padding: 0 0 0 30px;
  }
}

.instructions__description-step-content {
  @include font($main-font, 400, 14px, 18px);
  margin: 0;
  padding: 0;
  color: $basic-text-color;

  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 16px, 24px);
  }
}
