.instructions {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.instructions__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 0 49px;
  padding: 0 8px 0 0;
  list-style-type: none;
}

.instructions__item {
  display: flex;
}

.instructions__item:not(:last-child) {
  margin: 0 0 20px;
}

.instructions__title {
  margin: 0 0 40px;
  padding: 0 54px 0 0;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.instructions__description-step-content {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
