.nav {
  min-height: 65px;
  border-bottom: 1px solid $border-color-catalog;


  outline: 5px solid rgba(28, 180, 36, 0.8);
  outline-offset: -3px;
}

.nav__list {
  @include flex(row, normal, center, nowrap);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__list-inner {
  @include flex(row, normal, center);
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

.nav__item {
  margin: 0;
  padding: 13px 20px 9px;
}

/* .nav__item--current {
  @include pseudo(64px, 2px);
  position: relative;
  color: $accent-color;
  bottom: 10px;
  left: 10px;
} */

.nav__logo-first {
  width: 33px;
  height: 38px;
  margin: 0;
  text-decoration: none;
}

.nav__logo-second {
  width: 101px;
  height: 20px;
}

.nav__logo-text {
  margin: 10px 8px 0 0;
}

.nav__link {
  @include font($secondary-font, 400, 18px, 24px);
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__menu-button {
  @include flex(column, center, center, wrap);
  place-content: center center;
  margin: 6px 1px 0 0;
  width: 24px;
  height: 24px;
  row-gap: 6px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    color: #d24899;
    background-color: $accent-color;
  }

  &:focus {
    background-color: $accent-color;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.7;
  }
}

.nav__menu-button-line,
.nav__menu-button::before,
.nav__menu-button::after {
  @include pseudo(24px, 2px,);
  background-color: $basic-black;

  &:hover {
    color: #d24899; //не работает ?
  }
}
