.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__list-inner {
  @include flex(row, normal, center);
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 704px;
    gap: 35px;
    display: flex;
    justify-content: end;
  }
}

.nav__item {
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;

    &:first-child {
      &::after {
        @include pseudo(64px, 2px);
        position: relative;
        background-color: $accent-color;
        bottom: -10px;
        left: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;

    &:first-child {
      &::after {
        @include pseudo(72px, 2px);
        position: relative;
        background-color: $basic-white;
        bottom: -10px;
        left: 0;
      }
    }
  }
}

.nav__logo-first {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  text-decoration: none;
}

.logo-image-link__icon {
  @media (min-width: $mobile-width) {
    margin: 0 56px 0 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 13px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 14px 0 0;
  }
}

.nav__logo-second {
  width: 101px;
  height: 20px;
}

.nav__logo-text {
  margin: 10px 0 0 60px;

  @media (min-width: $tablet-width) {
    margin: 10px 0 0 13px;
  }
}

.nav__link {
  @include font($secondary-font, 400, 18px, 24px);
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;

    @include font($secondary-font, 400, 20px, 29.64px);
  }
}

.nav__item--current {
  @media (min-width: $tablet-width) {
    &:nth-child(2) {
      &::after {
        @include pseudo(154px, 2px);
        position: relative;
        background-color: $accent-color;
        bottom: -10px;
        left: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2) {
      &::after {
        @include pseudo(171px, 2px);
        position: relative;
        background-color: $accent-color;
        bottom: -10px;
        left: 0;
      }
    }
  }
}

.nav__link--current {
  color: $basic-black;
}

.nav__menu-button {
  @include flex(column, center, center, wrap);
  place-content: center center;
  width: 24px;
  height: 24px;
  row-gap: 6px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    color: #d24899;
    background-color: $accent-color;
  }

  &:focus {
    background-color: $accent-color;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.7;
  }
}

.nav__menu-button-line,
.nav__menu-button::before,
.nav__menu-button::after {
  @include pseudo(24px, 2px,);
  background-color: $basic-black;

  &:hover {
    color: #d24899;
  }
}
