.navigation {
  min-height: 65px;
  border-bottom: 1px solid $border-color-catalog;
}

.navigation__list {
  @include flex(flex, space-between, wrap);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__list-inner {
  @include flex(flex, center);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__item {
  margin: 0;
  padding: 13px 20px 9px;
}

.navigation__logo-first {
  width: 33px;
  height: 38px;
  margin: 0;
  text-decoration: none;
}

.navigation__logo-second {
  width: 101px;
  height: 20px;
}

.navigation__logo-text {
  margin: 10px 8px 0 0;
}

.navigation__link {
  @include font($secondary-font, 400, 18px, 24px);
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__menu-button {
  @include flex(column, center, wrap);
  place-content: center center;
  margin: 6px 1px 0 0;
  width: 24px;
  height: 24px;
  row-gap: 6px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    color: #d24899;
    background-color: $accent-color;
  }

  &:focus {
    background-color: $accent-color;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.7;
  }
}

.navigation__menu-button-line,
.navigation__menu-button::before,
.navigation__menu-button::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: $basic-black;

  &:hover {
    color: #d24899; //не работает ?
  }
}
