.page__body {
  margin: 0;
  padding: 0;
  background-color: $basic-white;

  @media (min-width: $mobile-width) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
