.product {
  border-top: 1px solid #cdcdcd;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    width: 708px;
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px 1px 17px;
    align-items: center;
    border: none;
    border-bottom: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
}

.product__volume {
  @include font($main-font, 400, 14px, 14px);
  margin: 0;
  padding: 0;
  color: $basic-text-color;

  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 16px, 20px);
  }

  @media (min-width: $desktop-width) {
    @include font($main-font, 400, 16px, 20px);
    padding: 0;
  }
}

.product__price {
  @include font($main-font, 400, 14px, 14px);
  margin: 0;
  color: $basic-text-color;
  text-align: right;

  @media (min-width: $tablet-width) {
    @include font($main-font, 400, 16px, 20px);
  }

  @media (min-width: $desktop-width) {
    @include font($main-font, 400, 16px, 20px);
    padding: 0 40px 0 0;
  }
}

.product__link {
  text-decoration: none;
}
