.programs {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.program {
  padding-top: 30px;
  width: 280px;
  height: 266px;
  background-color: #f2f2f2;
}

.programs__item {
  position: relative;
  margin: 0 0 20px;
}

.programs__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: 20px;
  width: 50px;
  height: 53px;
  background-image: url("../../images/cat-back-secondary-mobile.svg");
  background-repeat: no-repeat;
}

.programs__item-primary {
  margin: 0;
  padding: 30px 0 0;
}

.program__title-primary {
  margin: 0;
  padding: 0 0 29px 39px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

.programs__item-primary::before {
  content: "";
  display: block;
  position: absolute;
  top: 23px;
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url("../../images/cat-back-primary-mobile.svg");
  background-repeat: no-repeat;
}

.program__title {
  margin: 0;
  padding: 0 0 29px 9px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

.program__description {
  margin: 0;
  padding: 0 20px 21px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  display: block;
  width: 134px;
  height: 24px;
  margin: 0;
  padding: 13px 0 0 21px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.64px;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
}

.program__link::after {
  content: "";
  position: relative;
  bottom: 21px;
  left: 100px;
  display: block;
  width: 24px;
  height: 12px;
  background-image: url("../../images/logo/arrow-standart.svg");
  background-repeat: no-repeat;
}

.program__link:hover {
  opacity: 0.8;
}

.program__link:active {
  opacity: 0.7;
}

.programs__list {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}
