.promo {
  width: 280px;
  min-height: 290px;
  margin: 0 0 42px;
  position: relative;
  background: linear-gradient(-90deg, rgba(104, 183, 56, 0.6) 100%, transparent 50%), url("../../images/promo/promo-cat-mobile@1x.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 707px;
    min-height: 200px;
    background: linear-gradient(-90deg, rgba(104, 183, 56, 0.6) 100%, transparent 50%), url("../../images/promo/promo-cat-tablet@1x.png");
    background-repeat: no-repeat;
    margin: 0 0 83px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    padding: 0;
    margin: 0;
    align-content: center;
    //align-items: start;
    background: linear-gradient(-90deg, rgba(104, 183, 56, 0.6) 100%, transparent 50%), url("../../images/promo/promo-cat-desktop@1x.png");
    background-repeat: no-repeat;
    margin-top: 5px;
  }
}

.promo__description {
  @include font($main-font, 400, 16px, 20px);
  width: 161px;
  margin: 187px 0 0 58px;
  padding: 0;
  color: $basic-white;
  text-align: center;

  &::before {
    @include pseudo(78px, 80px);
    position: absolute;
    top: 59px;
    left: 100px;
    background-image: url("../../icons/icon-gift.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 58px;
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      top: 61px;
      left: 83px;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 161px;
    min-height: 60px;
    margin: 0;
    margin-right: 125px;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    min-height: 60px;
    margin: 149px 42px 0 0;
    text-align: center;
  }
}
