.promo {
  @include flex(column, center, center, wrap);
  position: relative;
  margin: 0 0 42px;
  //background: linear-gradient(to right, $basic-white 50%, $accent-color 50%);
}

.promo__description {
  @include flex(column, center, center, wrap);
  @include font($main-font, 400, 16px, 20px);
  width: 280px;
  height: 290px;
  margin: 0;
  padding: 146px 0 0;
  background-image: url("../../images/catalog/cat-in-backpack-mobile@1x.png");
  background-repeat: no-repeat;
  color: $basic-white;
  text-align: center;

  &::before {
    @include pseudo(78px, 80px);
    position: absolute;
    top: 59px;
    background-image: url("../../images/logo/present-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
