.social {
  @include flex(row, space-around, center, wrap);
  padding: 16px 63px;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid $border-color-index;
  border-bottom: 1px solid $border-color-index;

  @media (min-width: $mobile-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 17px 74px;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    width: 132px;
    height: 22px;
    border: none;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
    width: 132px;
    height: 22px;
    margin: 0;
  }
}

/* .social__link {
  &:hover path {
    fill: $accent-color;
  }
} */

.social__item {
  @media (min-width: $desktop-width) {
    width: 28px;
    height: 22px;
  }
}

//.social__icon-image {}

.social__link--vk {
  //mask-image: url("../../icons/vkontakte.svg");
  mask-image: url("../../icons/stack.svg#vkontakte.svg");
  background-color: $accent-color;
}

.social__link--yt {
  mask-image: url("../../icons/youtube.svg");
  //mask-image: url("../../icons/stack.svg#youtube.svg");
}

.social__link--tg {
  mask-image: url("../../icons/telegram.svg");
  //mask-image: url("../../icons/stack.svg#telegram.svg");
}
