.social {
  display: flex;
  justify-content: space-around;
  padding: 20px 83px 15px;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

//.social__item {}
//.social__link {}
//.social__icon-image {}

/* .social__link--vkontakte {
  --bgi: url("../../")
} */

//.social__link--youtube {}
//.social__link--telegram {}
