.subscription__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.subscription__title::after {
  content: "";
  display: block;
  width: 108px;
  border: 2px solid #68b738;
}

.subscription__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.subscription__input {
  min-width: 280px;
  height: 56px;
  max-height: max-content;
  margin: 0 0 16px;
  padding: 13px;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.64px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid#e7e7e7;
}

.subscription__input:hover {
  border-color: #cdcdcd;
}

.subscription__input:active,
.subscription__input:focus {
  border-radius: 0;
  border: 2px solid #444444;
  outline: none;
}

.subscription__button {
  margin: 0 0 40px;
}

.button-subscribe {
  min-width: 280px;
  min-height: 56px;
  color: #ffffff;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-subscribe:hover {
  background-color: #5eaa2f;
}

.button-subscribe:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
