//блок подписка

.subscription {
  position: relative;

  @include flex(column, center);
  /*   display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0 0 42px;
}

.subscription__title {
  margin: 0 0 30px;
  padding: 0 127px 0 0;

  @include font($secondary-font, 400, 24px, 24px);
  color: $basic-black;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -20px;
    display: block;
    width: 108px;
    border: 2px solid $hover-buttons;
  }
}

.subscription__description {
  margin: 0 0 24px;
  padding: 0;
  color: $basic-black;

  @include font($secondary-font, 400, 16px, 24px);
  text-align: center;
}

.subscription__form {
  display: flex;
  flex-direction: column;
}

.subscription__input {
  min-width: 280px;
  height: 56px;
  max-height: max-content;
  margin: 0 0 16px;
  padding: 13px;
  color: $basic-text-color;

  @include font($secondary-font, 400, 20px, 29.64px);
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid#e7e7e7;

  &:hover {
    border-color: #cdcdcd;
  }

  &:active,
  &:focus {
    border-radius: 0;
    border: 2px solid $basic-text-color;
    outline: none;
  }
}

.subscription__button {
  margin: 0 0 40px;
}

.subscription__button-subscribe {
  min-width: 280px;
  min-height: 56px;
  margin: 0;
  color: $basic-white;
  background-color: $accent-color;

  @include font($secondary-font, 400, 20px, 26px);
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $hover-buttons;
  }

  &:active {
    background-color: $hover-buttons;
    color: rgba(255, 255, 255, 0.3);
  }
}
