.off {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    //display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.card__transfer {
  display: block;
}

.card__tablet {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.tablet {
  display: none;
}
